/* App.css */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: #f7f7f7;
}

.app-name {
    font-size: 2.3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #7393B3;
}

.container{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 30px;
    color: #e5eef0;
}

.current, .box{
    min-height: 300px;    
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.current {
    justify-content: center;
    display: flex;
    margin-right: 10px;
    flex-direction: column; 
    width: 440px; 
    background-color: #7393B3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.current >.results{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current > .details{
    display: flex;
    flex-direction: column;
}


.box{
    width: 800px;
    background-color: #7393B3;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-input{
    margin-left: 30px;
}
.city-search {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #e5eef0;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 40px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #333;
}

.city-search:focus {
    width: 100%;
}

.city-name {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 8px;
}

.date {
    font-size: 1.25em;
    font-weight: 500;
    color: #e5eef0;
}

.icon-temp {
    font-size: 3rem;
    font-weight: 700;
    color: #1e2432;
    text-align: center;
}

.deg {
    font-size: 1.3rem;
    vertical-align: super;
}

.des-wind {
    font-weight: 500;
    color: #666;
}

.error-message {
    display: block;
    text-align: center;
    color: #d32f2f;
    font-size: 24px;
    margin-top: auto;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Loader>div {
    margin: 0 auto;
}

.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}